.Saturday button span {
    background-color: orange;
    border-radius: 0px;
    color: black;
    padding: 10px;
}
.Sunday button span {
    background-color: red;
    border-radius: 02px;
    color: black;
    padding: 10px;
}
.Poya_Day button span {
    background-color: yellow;
    border-radius: 0px;
    color: black;
    padding: 10px;
}
.HoliDay button span {
    background-color: wheat;
    border-radius: 0px;
    color: black;
    padding: 10px;
}
.Paid_HoliDay button span {
    background-color: #32cd32;
    border-radius: 0px;
    color: black;
    padding: 10px;
}